body {
  font-family: Gill Sans, sans-serif;
  text-align: center;
  background-image: url("../img/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-size: 5vw;
}

h3{
  font-size: 2vw;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

.nav-bar li{
  float: left;
}

.nav-bar li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.nav-bar li a:hover{
  background-color: grey;
}

.active{
  background-color: grey;
}

.images{
  padding: 3px;
  object-fit: contain;
}
